apiVersion: apps/v1
kind: Deployment
metadata:
  name: cosign-provider
spec:
  replicas: 1
  selector:
    matchLabels:
      run: cosign-provider
  template:
    metadata:
      labels:
        run: cosign-provider
    spec:
      containers:
      - image: sozercan/cosign-provider:latest
        imagePullPolicy: Always
        name: cosign-provider
        env:
          - name: SECRET_NAME
            value: "k8s://default/cosign-secret"
        ports:
        - containerPort: 8090
          protocol: TCP
      restartPolicy: Always
      nodeSelector:
        kubernetes.io/os: linux
      serviceAccountName: provider-cosign-sa
