apiVersion: apps/v1
kind: Deployment
metadata:
  name: cosign-provider
spec:
  replicas: 1
  selector:
    matchLabels:
      run: cosign-provider
  template:
    metadata:
      labels:
        run: cosign-provider
    spec:
      containers:
      - image: sozercan/cosign-provider:latest
        imagePullPolicy: Always
        name: cosign-provider
        ports:
        - containerPort: 8090
          protocol: TCP
      restartPolicy: Always
      nodeSelector:
        kubernetes.io/os: linux
      serviceAccountName: provider-cosign-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: provider-cosign-role
rules:
- apiGroups: [""]
  resources:
  - secrets
  verbs: ["list", "get", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: provider-cosign-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: provider-cosign-role
subjects:
- kind: ServiceAccount
  name: provider-cosign-sa
  namespace: default
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: provider-cosign-sa
  namespace: default
