apiVersion: v1
kind: Service
metadata:
  name: cosign-provider
  namespace: cosign-provider
spec:
  ports:
  - port: 8090
    protocol: TCP
    targetPort: 8090
  selector:
    run: cosign-provider
  sessionAffinity: None
